aniso8601==3.0.2
click==6.7
dicttoxml==1.7.4
Flask==1.0.2
Flask-API==1.0
Flask-Responses==0.2
Flask-RESTful==0.3.6
functools32==3.2.3.post2
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
passlib==1.7.1
PyJWT==1.6.4
pymongo==3.6.1
pytz==2018.4
redis==2.10.6
six==1.11.0
uuid==1.30
Werkzeug==0.14.1